.avatar {
  background-color: #ced0f8;
  border: 0px none;
  border-radius: 32px;
  height: 64px;
  overflow: hidden;
  position: relative;
  width: 64px;
}

.avatar .rectangle {
  height: 64px;
  left: -1747px;
  position: absolute;
  top: -760px;
  width: 64px;
}
