.button {
  border: 1px solid;
  border-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.button .create-new-game {
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  white-space: nowrap;
}

.button.primary {
  background-color: #091e57;
  height: 42px;
  width: 127px;
}

.button.error {
  background-color: #8c1a11;
  height: 50px;
  width: 176px;
}

.button.primary .create-new-game {
  color: #d8dbe4;
  left: 24px;
  top: 7px;
}

.button.error .create-new-game {
  color: #ebd7d6;
  left: 19px;
  top: 11px;
}
